* {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.main_content {
    flex: 1;
    min-height: calc(100vh - 100px);
    padding: 10px 0;
}

.footer_main {
    background: #ccc;
    padding: 10px 0;
    color: rgb(85, 82, 82);
    position: relative;
    bottom: 0;
    text-align: center;
}

.input-required {
    color: #ff0000;
    font-size: 0.95em;
}

.btn-add-task, .buttons-edit {
    position: absolute;
    top: 0;
    right: 0;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none;
    border-color: #666 !important;
}

#tasks tbody tr {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #EEE;
    align-items: center;
}

#tasks tbody td {
    border: none;
    color: #666;
    font-weight: bold;
}

.preloader {
    z-index: 99;
    margin: 0 auto;
    text-align: left;
  }
  .preloader span {
    height: 10px;
    width: 10px;
    background: rgb(33, 12, 170);
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    animation: dots 0.6s cubic-bezier(0.6, 0.1, 1, 0.4) infinite alternate;
  }
  .preloader span:nth-child(1) {
    animation-delay: 0.1s;
  }
  .preloader span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .preloader span:nth-child(3) {
    animation-delay: 0.3s;
  }
  .preloader span:nth-child(4) {
    animation-delay: 0.4s;
  }
  @keyframes dots {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 30px, 0);
    }
  }

  label.checked {
    text-decoration: line-through;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    display: inline-block;
    color: #28a745;
    position: absolute;
    left: 0;
  }

  tbody tr {
    position: relative;
  }

  tbody tr label {
    margin-left: 15px;
  }

  .toast-custom {
    height: 50px;
    width: 200px;
    background-color: #28a745;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,30px,0);
  }

  .toast-custom p {
    margin: 0 ;
    padding: 0;
  }

  .toast-custom.active {
    animation: 3s fade ease-in;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    25%, 80% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0,0,0);
    }
  }
