* {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.main_content {
    flex: 1;
    min-height: calc(100vh - 100px);
    padding: 10px 0;
}

.footer_main {
    background: #ccc;
    padding: 10px 0;
    color: rgb(85, 82, 82);
    position: relative;
    bottom: 0;
    text-align: center;
}

.input-required {
    color: #ff0000;
    font-size: 0.95em;
}